@import url('https://fonts.googleapis.com/css2?family=Chathura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Chathura', sans-serif;
        font-family: 'Noto Serif SC', serif;
        font-family: 'Noto Sans JP', sans-serif;
        font-family: 'Noto Sans Thai', sans-serif;
    }
}